
.List {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 120px);
}

.List::-webkit-scrollbar {
  width: 10px;
}

.List::-webkit-scrollbar-track {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}

.List::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

.List::-webkit-scrollbar-thumb:hover {
  background: rgb(136, 136, 136);
  border-radius: 10px;
}

.List::-webkit-scrollbar-thumb:active {
  background: rgb(179, 177, 177);
  border-radius: 10px;
}

.EntryContainer {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  color: white;
  background-color: #2a312e;
  width: 90%;
  margin-top: 10px;
  border-radius: 3px;
  /* min-height: 50px; */
  font-size: 12px;
  cursor: default;
}

.EntryContainer:hover {
  background: #ffffff20;
}

.Banner {
  flex: 6;
  display: flex;
  justify-content: space-between;
}

.DetailsSection {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}

/*
For Labels row
.EntryContainer:first-child {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  border: #202124 solid 5px;
}
*/

.Listeners {
  font-size: 16px;
}

.Picture {
  margin-bottom: -4px;
  margin-right: -1px;
  margin-top: -1px;
}

.Name {
  width: 40vw;
  max-width: 350px;
  font-size: 20px;
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.Image {
  margin: 15px;
  border: 3px solid #08C367;
  padding-bottom: -5px;
}

.LinkHolder {
  margin-top: -30px;
  transform: scaleX(0.5);
}

.Link {
  margin: 10px;
  font-size: 100px;
  font-stretch: narrower;
  font-weight: 600;
  color: #08C367;
}

.Link:hover {
  color: #68e07c;
  text-shadow: 0 0 2px #fff;
}
