
.Player {
  display: flex;
  align-items: center;
  border: solid 2px #436541;
  padding: 25px;
  margin-right: 10px;
  border-radius: 50px;
  background: #1c201c;
  width: 100%;
}

.Player:hover {
  border: solid 2px #08C367;
}

.PlayButton {
  margin-right: 20px;
  background: #08C367;
  border-radius: 50%;
}

.PlayButton:hover {
  background: #68e07c;
}

.PlayButton:active {
  background: #fff;
}

.ProgressBar {
  background: #000;
  width: 75%;
  height: 5px;
  border-radius: 5px;
  display: flex;
}

.ProgressBar:active .ProgressBarDone {
  background: #68e07c;
}

.ProgressBarDone {
  border-radius: 5px;
  background: #08C367;
  transition: flex 0.1s;
}
